@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>see more->.</p>
<img src="https://www.bing.com/th?id=OIP.YnxKhRLjXbWQf51Rewc2IQHaHg&amp;w=201&amp;h=204&amp;c=8&amp;rs=1&amp;qlt=90&amp;pid=3.1&amp;rm=2" alt="Image result for Home Icon. Size: 201 x 204. Source: victorfont.com"/>