@{
    ViewBag.Title = "About";
}
    <h3>about  The  team </h3>
<div class="carousel-item active">
    
</div><div class="col-md-3">
    
 <img src="~/photo/team-1.jpg" class="img-circle"  width="304" height="236">
   Metadel
   team member
</div>
  <div class="col-md-3">
  <img src="~/photo/group.png" class="img-circle" alt="group" width="304" height="236">
   Mebrate
   team member
      </div>
  <div class="col-md-3">
      <img src="~/photo/group.png" class="img-circle" alt="group" width="304" height="236">
      Mebrate
      team member
  </div>
  <div class="col-md-3">
      <img src="~/photo/group.png" class="img-circle" alt="group" width="304" height="236">
      Mebrate team member on GitHub
  </div>