@{
    ViewBag.Title = "About";
}
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <script src="http://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="circletype.min.js"></script>
    <script src="http://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>

    <style>
        .circular-text {
           
            top: 23%;
            left: 25%;
            transform: translate(-50%,-50%);
            color: powderblue;
            font-size: 24px;
            font-weight: bolder;
            font-family: "Monument Extended";
            transition: 0.5s ease-out;
            -webkit-text-stroke: 1px rgba(255, 255, 255,0.6);
        }

        .arrow {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        ion-icon {
            font-size: 100px;
            color: white;
        }
    </style>
</head>
<body>
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <div class="jumbotron">
        <p>The factory system replaced the domestic system, in which individual workers used hand tools or simple machinery to fabricate goods in their own homes or in workshops attached to their homes. The use of waterpower and then the steam engine to mechanize processes such as cloth weaving in England in the second half of the 18th century marked the beginning of the factory system. This system was enhanced at the end of the 18th century by the introduction of interchangeable parts in the manufacture of muskets and, subsequently, other types of goods.</p>
    </div>
    <div class="jumbotron">
        The resulting system, in which work was organized to utilize power-driven machinery and produce goods on a large scale, had important social consequences: formerly, workers had been independent craftsmen who owned their own tools and designated their own working hours, but in the factory system, the employer owned the tools and raw materials and set the hours and other conditions under which the workers laboured. The location of work also changed. Whereas many workers had inhabited rural areas under the domestic system, the factory system concentrated workers in cities and towns, because the new factories had to be located near waterpower and transportation (alongside waterways, roads, or railways). The movement toward industrialization often led to crowded substandard housing and poor sanitary conditions for the workers. Moreover, many of the new unskilled jobs could be performed equally well by women, men, or children, thus tending to drive down factory wages to subsistence levels. Factories tended to be poorly lit, cluttered, and unsafe places where workers put in long hours for low pay.
    </div>
</div>
<div class="col-md-3">

    <img src="~/photo/team-1.jpg" class="img-circle" width="250" height="236">
    <table>
        <tr>
            <td style="width:400px" align="center">
                Metadel
                team member
            </td>
        </tr>
    </table>

</div>
<div class="col-md-3">
    <img src="~/photo/light.jpg" class="img-circle" alt="Mebrat Bekele Habtemariam" width="250" height=" 236" />
    <table>
        <tr>
            <td style="width:400px" align="center">
                Mebrat
                team member
            </td>
        </tr>
    </table>
</div>
<div class="col-md-3">
    <img src="~/photo/team-1.jpg" class="img-circle" width="250" height="236">
    <table>
        <tr>
            <td style="width:400px" align="center">
                Berihun
                team member
            </td>
        </tr>
    </table>
</div>
<div class="col-md-3">
    <img src="~/photo/light.jpg" class="img-circle" alt="Mebrat Bekele Habtemariam" width="250" height=" 236" />
    <table>
        <tr>
            <td style="width:400px" align="center">
                Friw
                team member
            </td>
        </tr>
    </table>

</div>
<div class="jumbotron">
    <div class="jumbotron">
        <div class="jumbotron">

        </div>
    </div>
</div>

<div class="jumbotron"><p id="rotated">ffffffffffffff</p>"
    <div class="circular-text">
        
    </div>
    <div class="arrow">
        <ion-icon name="arrow-down"></ion-icon>
    </div>
</div>
    <script>
        const circleType = new circleType(Document.getElementById("rotated")).radius(80);
        $(Window).scroll(function () {
            var offset = $(Window).scrollTop();
            offset = offset * 0.4;
            $(".circular-text").css({
                "-moz-transform": "rotate(" + offset + "deg)",
                "-webkit-transform": "rotate(" + offset + "deg)",
                "-o-transform": "rotate(" + offset + "deg)",
                "-ms-transform": "rotate(" + offset + "deg)",
                     "transform": "rotate("+offset+"deg)",
            });
        });
    </script>
    </body>

</html>