@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Team of App_Factory<br />
   <br />
    <abbr title="Phone">Phone:</abbr>
   +251935713369
</address>

<address>
    <strong>gmail:</strong>   <a href="meetmetadel@gmai.com">meetmetadel@gmail.com</a><br />
    
</address>