@{
    ViewBag.Title = "Home Page";
}<!-- CSS only -->

    <div class="jumbotron">
        <div  class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h3>Wel come to Team WebSite of App-Factory student</h3>
                    <img  src="~/photo/group-teamwork.jpg"  class="img-thumbnail"  width="800" height="400" alt="First slide">
                </div>
                
                
            </div>  
            
        </div>
    </div>




    </div>

<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <p>



        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>team organization</h2>
        <p>our team organized by the  interest of the member to do different  things.</p>
        <p><a class="btn btn-default" href="">see more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>view sample project</h2>
        <p>You can view previously complated project.</p>
        <p><a class="btn btn-default" href="http://metu.infinityfreeapp.com/" target="_blank">See more &raquo;</a></p>
    </div>
</div>
